.product{

.productWrapper{
  width: 70px;
  padding: 20px 40px 20px 20px;
  }

  .imageContainer {
    height: 250px;
    padding: 20px;
    background: #fff;
    margin: auto;

    img {
      height: 100%;
      max-width: 100%;
      width: auto;

    }
  }
    .title{
      height: 48px;
      overflow: hidden;
      margin-bottom: 5px;
      color: #333;

    }
    
    .price{
      margin-bottom: 5px;
      font-size: 18px;
      color: #333;
      font-weight: 600;
    }
  
}